.menuItems {
  margin: 0 auto;
  max-width: 1080px;
  padding: 10vh 0px;
  justify-content: space-evenly;
}

.menuItem {
  margin: 10px;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;

  img {
    width: 50%;
    height: auto;
  }
}